In [1]:
import pandas as pd
import numpy as np

In [2]:
# Importing my data
df = pd.read_csv("../data/Wordle102025.csv")

In [3]:
# Converting Date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [4]:
# Adding a month column
df['Month'] = df['Date'].dt.to_period('M')

In [5]:
# Preserving raw Guesses Column
df['Guesses_raw'] = df['Guesses']

In [6]:
# Convert Guesses column to numeric
df['Guesses'] = pd.to_numeric(df['Guesses'], errors='coerce')

In [7]:
# Convert Score column to numeric
df['Score'] = pd.to_numeric(df['Score'], errors='coerce')

In [8]:
# Is X
df['Is_X'] = df['Guesses_raw'].astype(str).str.upper().eq("X")

In [9]:
# Is null
df['Is_Null'] = df['Guesses_raw'].isna()

In [10]:
# Monthly summary
monthly_summary = (
    df.groupby(['Name', 'Month'])
      .agg(
          Avg_Guesses=('Guesses', 'mean'),
          Avg_Score=('Score', 'mean'),
          X_Counts=('Is_X', 'sum'),
          Null_Counts=('Is_Null', 'sum')
      )
      .reset_index()
)

monthly_summary

       Name    Month  Avg_Guesses  Avg_Score  X_Counts  Null_Counts
0    Alyssa  2025-01     3.960000   2.466667         1            5
1    Alyssa  2025-02     4.083333   2.500000         0            4
2    Alyssa  2025-03     3.862069   2.935484         2            0
3    Alyssa  2025-04     3.966667   3.033333         0            0
4    Alyssa  2025-05     3.875000   1.612903         0           15
5    Alyssa  2025-06     3.730769   2.833333         0            4
6    Alyssa  2025-07     4.233333   2.677419         0            1
7    Alyssa  2025-08     3.678571   3.000000         0            3
8    Alyssa  2025-09     3.560000   2.866667         1            4
9    Alyssa  2025-10     3.680000   2.677419         1            5
10  Annette  2025-01     4.100000   2.800000         1            0
11  Annette  2025-02     3.884615   2.892857         2            0
12  Annette  2025-03     3.966667   2.935484         1            0
13  Annette  2025-04     4.448276   2.466667         1            0
14  Annette  2025-05     4.333333   2.580645         0            1
15  Annette  2025-06     3.814815   2.866667         1            2
16  Annette  2025-07     4.571429   2.193548         3            0
17  Annette  2025-08     4.100000   2.806452         1            0
18  Annette  2025-09     3.766667   3.233333         0            0
19  Annette  2025-10     4.000000   2.806452         0            2
20   Joshua  2025-01     3.862069   2.933333         1            1
21   Joshua  2025-02     4.076923   2.714286         2            0
22   Joshua  2025-03     3.866667   3.032258         1            0
23   Joshua  2025-04     4.107143   2.700000         2            0
24   Joshua  2025-05     3.928571   2.774194         3            0
25   Joshua  2025-06     4.166667   2.833333         0            0
26   Joshua  2025-07     3.961538   2.548387         5            0
27   Joshua  2025-08     4.033333   2.870968         1            0
28   Joshua  2025-09     3.857143   2.933333         1            1
29   Joshua  2025-10     4.107143   2.612903         3            0
30  Kristin  2025-01     4.153846   2.366667         0            5
31  Kristin  2025-02     4.173913   2.321429         0            5
32  Kristin  2025-03     3.920000   2.483871         1            5
33  Kristin  2025-04     4.103448   2.800000         0            1
34  Kristin  2025-05     3.833333   2.451613         1            6
35  Kristin  2025-06     4.296296   2.433333         0            3
36  Kristin  2025-07     4.576923   2.032258         1            4
37  Kristin  2025-08     4.172414   2.645161         0            2
38  Kristin  2025-09     3.896552   3.000000         0            1
39  Kristin  2025-10     4.419355   2.580645         0            0
40    Logan  2025-01     3.900000   3.000000         1            0
41    Logan  2025-02     3.962963   2.928571         1            0
42    Logan  2025-03     4.153846   2.387097         5            0
43    Logan  2025-04     3.866667   3.133333         0            0
44    Logan  2025-05     4.230769   2.322581         1            4
45    Logan  2025-06     3.896552   3.000000         1            0
46    Logan  2025-07     4.000000   2.806452         2            0
47    Logan  2025-08     3.967742   3.032258         0            0
48    Logan  2025-09     3.689655   3.200000         1            0
49    Logan  2025-10     3.935484   3.064516         0            0
50     Mark  2025-01     3.645161   3.366667         0            0
51     Mark  2025-02     3.892857   3.107143         0            0
52     Mark  2025-03     4.032258   2.967742         0            0
53     Mark  2025-04     4.300000   2.700000         0            0
54     Mark  2025-05     4.000000   3.000000         0            0
55     Mark  2025-06     3.862069   3.033333         1            0
56     Mark  2025-07     4.142857   2.580645         3            0
57     Mark  2025-08     3.933333   2.967742         1            0
58     Mark  2025-09     3.633333   3.366667         0            0
59     Mark  2025-10     4.000000   2.903226         0            1

In [11]:
# --- Difficulty Stats Per Word & Month ---
word_stats = (
    df.groupby(['Month', 'Word'])
      .agg(
          Avg_Guesses=('Guesses', 'mean'),
          X_Counts=('Is_X', 'sum'),
          Attempts=('Guesses', 'count')
      )
      .reset_index()
)

# Difficulty score: prioritize Xâ€™s, then avg guesses
word_stats['Difficulty_Score'] = word_stats['X_Counts'] * 100 + word_stats['Avg_Guesses']

# --- Hardest Word Per Month ---
hardest_words = (
    word_stats.sort_values(['Month', 'Difficulty_Score'], ascending=[True, False])
              .groupby('Month')
              .head(1)
              .reset_index(drop=True)
)

hardest_words

     Month   Word  Avg_Guesses  X_Counts  Attempts  Difficulty_Score
0  2025-01  WAFER     5.500000         2         4        205.500000
1  2025-02  FUZZY     5.666667         3         3        305.666667
2  2025-03  BASTE     4.333333         3         3        304.333333
3  2025-04  KRILL     4.800000         1         5        104.800000
4  2025-05  EAGER     4.666667         2         3        204.666667
5  2025-06  COMFY     5.400000         1         5        105.400000
6  2025-07  POPPY     5.333333         3         3        305.333333
7  2025-08  DAUNT     4.400000         1         5        104.400000
8  2025-09  MIGHT     4.600000         1         5        104.600000
9  2025-10  WOUND     2.500000         2         4        202.500000