In [1]:
import pandas as pd
import numpy as np

In [2]:
# Importing my data
df = pd.read_csv("../data/Wordle102025.csv")

In [3]:
# Converting Date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [4]:
# Adding a month column
df['Month'] = df['Date'].dt.to_period('M')

In [5]:
# Preserving raw Guesses Column
df['Guesses_raw'] = df['Guesses']

In [6]:
# Convert Guesses column to numeric
df['Guesses'] = pd.to_numeric(df['Guesses'], errors='coerce')

In [7]:
# Is X
df['Is_X'] = df['Guesses_raw'].astype(str).str.upper().eq("X")

In [8]:
# Is null
df['Is_Null'] = df['Guesses_raw'].isna()

In [10]:
# Monthly summary
monthly_summary = (
    df.groupby(['Name', 'Month'])
      .agg(
          Avg_Guesses=('Guesses', 'mean'),
          X_Counts=('Is_X', 'sum'),
          Null_Counts=('Is_Null', 'sum')
      )
      .reset_index()
)

monthly_summary

       Name    Month  Avg_Guesses  X_Counts  Null_Counts
0    Alyssa  2025-01     3.960000         1            5
1    Alyssa  2025-02     4.083333         0            4
2    Alyssa  2025-03     3.862069         2            0
3    Alyssa  2025-04     3.966667         0            0
4    Alyssa  2025-05     3.875000         0           15
5    Alyssa  2025-06     3.730769         0            4
6    Alyssa  2025-07     4.233333         0            1
7    Alyssa  2025-08     3.678571         0            3
8    Alyssa  2025-09     3.560000         1            4
9    Alyssa  2025-10     3.680000         1            5
10  Annette  2025-01     4.100000         1            0
11  Annette  2025-02     3.884615         2            0
12  Annette  2025-03     3.966667         1            0
13  Annette  2025-04     4.448276         1            0
14  Annette  2025-05     4.333333         0            1
15  Annette  2025-06     3.814815         1            2
16  Annette  2025-07     4.571429         3            0
17  Annette  2025-08     4.100000         1            0
18  Annette  2025-09     3.766667         0            0
19  Annette  2025-10     4.000000         0            2
20   Joshua  2025-01     3.862069         1            1
21   Joshua  2025-02     4.076923         2            0
22   Joshua  2025-03     3.866667         1            0
23   Joshua  2025-04     4.107143         2            0
24   Joshua  2025-05     3.928571         3            0
25   Joshua  2025-06     4.166667         0            0
26   Joshua  2025-07     3.961538         5            0
27   Joshua  2025-08     4.033333         1            0
28   Joshua  2025-09     3.857143         1            1
29   Joshua  2025-10     4.107143         3            0
30  Kristin  2025-01     4.153846         0            5
31  Kristin  2025-02     4.173913         0            5
32  Kristin  2025-03     3.920000         1            5
33  Kristin  2025-04     4.103448         0            1
34  Kristin  2025-05     3.833333         1            6
35  Kristin  2025-06     4.296296         0            3
36  Kristin  2025-07     4.576923         1            4
37  Kristin  2025-08     4.172414         0            2
38  Kristin  2025-09     3.896552         0            1
39  Kristin  2025-10     4.419355         0            0
40    Logan  2025-01     3.900000         1            0
41    Logan  2025-02     3.962963         1            0
42    Logan  2025-03     4.153846         5            0
43    Logan  2025-04     3.866667         0            0
44    Logan  2025-05     4.230769         1            4
45    Logan  2025-06     3.896552         1            0
46    Logan  2025-07     4.000000         2            0
47    Logan  2025-08     3.967742         0            0
48    Logan  2025-09     3.689655         1            0
49    Logan  2025-10     3.935484         0            0
50     Mark  2025-01     3.645161         0            0
51     Mark  2025-02     3.892857         0            0
52     Mark  2025-03     4.032258         0            0
53     Mark  2025-04     4.300000         0            0
54     Mark  2025-05     4.000000         0            0
55     Mark  2025-06     3.862069         1            0
56     Mark  2025-07     4.142857         3            0
57     Mark  2025-08     3.933333         1            0
58     Mark  2025-09     3.633333         0            0
59     Mark  2025-10     4.000000         0            1